/nbproject/private/
/analisis/MiPrimerProyecto/nbproject/private/
/planeacion/The PHP's vestiges/point_1/nbproject/private/
/planeacion/The PHP's vestiges/point_1/point30/nbproject/private/
/planeacion/The PHP's vestiges/point_1/point31/nbproject/private/
/analisis/calculadora.PHP/node_modules/
/analisis/calculadora.PHP/nbproject/private/